
h1 {
    font-size: 36px;
    text-align: center;
    text-decoration: underline;
}

.highlight {
    color: red;
    text-transform: capitalize;
  
    
}

.decoration {
    text-decoration: underline;
}